<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
<!-- 2020-10-06
"`Amasty_Finder`: the results page shows the «Default Category» title on the browser's tab":
https://github.com/dxmoto/site/issues/125 -->
	<type name='Amasty\Finder\Controller\Index\Index'>
		<plugin
			name='DxMoto\Core\Plugin\Amasty\Finder\Controller\Index\Index'
			type='DxMoto\Core\Plugin\Amasty\Finder\Controller\Index\Index'
		/>
	</type>
<!-- 2020-10-06
"`Amasty_Finder` 1.11.4: the filtering block is shown at the bottom instead of the top on the results page":
https://github.com/dxmoto/site/issues/124 -->
	<type name='Amasty\Finder\Model\Finder'>
		<plugin name='DxMoto\Core\Plugin\Amasty\Finder\Model\Finder' type='DxMoto\Core\Plugin\Amasty\Finder\Model\Finder'/>
	</type>
<!-- 2020-09-12
"`Ess_M2ePro`: «Broken reference: the 'amasty.finder.5' element cannot be added as child to 'content',
because the latter doesn't exist»": https://github.com/dxmoto/core/issues/7 -->
	<type name='Amasty\Finder\Observer\LayoutRender'>
		<plugin
			name='DxMoto\Core\Plugin\Amasty\Finder\Observer\LayoutRender'
			type='DxMoto\Core\Plugin\Amasty\Finder\Observer\LayoutRender'
		/>
	</type>
<!-- 2020-09-08
1) `Ess_M2ePro`: «Argument 3 passed to Magento\Cms\Model\Wysiwyg\CompositeConfigProvider::__construct()
must be of the type array, null given»: https://github.com/dxmoto/core/issues/6
2) The solution: https://magento.stackexchange.com/a/258216
3) I have copied it from https://github.com/magento/magento2/blob/2.3.5-p1/app/code/Magento/Cms/etc/adminhtml/di.xml#L20-L35 -->
	<type name='Magento\Cms\Model\Wysiwyg\CompositeConfigProvider'>
		<arguments>
			<argument name='variablePluginConfigProvider' xsi:type='array'>
				<item name='default' xsi:type='string'>Magento\Variable\Model\Variable\ConfigProvider</item>
			</argument>
			<argument name='widgetPluginConfigProvider' xsi:type='array'>
				<item name='default' xsi:type='string'>Magento\Widget\Model\Widget\Config</item>
			</argument>
			<argument name='wysiwygConfigPostProcessor' xsi:type='array'>
				<item name='default' xsi:type='string'>Magento\Cms\Model\Wysiwyg\DefaultConfigProvider</item>
			</argument>
			<argument name='galleryConfigProvider' xsi:type='array'>
				<item name='default' xsi:type='string'>Magento\Cms\Model\Wysiwyg\Gallery\DefaultConfigProvider</item>
			</argument>
		</arguments>
	</type>
</config>